@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* { margin:0; padding:0; box-sizing:border-box; }

:root{
  --main-bg-color: rgb(240, 241, 242);
  --title-color:rgb(40, 40, 40);
  --text-info-color:rgba(80, 80, 80, 0.7);
}

/********* Body ******** 
margin: 0 10px 0 30px; */

body {
    background-color: rgba(250, 250, 250, 0.5);
    background-color: white;
    color:rgb(60, 60, 60);
    font-family: 'Raleway', sans-serif;
    font-size: 14px; 
    line-height: 1.5;
    
}

/* ********Header : logo et menu ******** */
header {
  display: flex; 
  flex-flow:row wrap; 
  /*border: 1px solid grey;*/
  margin-left:60px;
  height:60px;
}

.container_logo {
  background-image: url(../images/logo/Booki.png);
  background-size:contain;
  background-repeat: no-repeat;
  /*border: 1px solid grey;*/
  height: 50px;
  margin:40px 0 0 0;
  align-self: center;
  flex:0 0 73%;
}

.container_logo img {
  display: none;
}

header ul{
  display: flex;
  flex:0 0 24%;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  /*border: 1px solid grey;*/
}

.menu_item a {
  list-style-type: none;
  text-decoration: none;
  color: grey;
  font-weight: 500;
  /*border: 1px solid grey;*/
}

.menu_item {
  list-style-type: none;
  width:50%;
  flex-flow: row wrap;
  padding:50px 20px 0 20px;
  background-color: white;
  text-align: center;
  color: grey;
  /*border: 1px solid grey;*/
}

.menu_item a:hover {
  color: hsl(220, 90%, 56%);
}

.menu_item:hover {
  list-style-type: none;
  color: hsl(220, 90%, 56%);
  text-decoration: none;
  border-top: 3px solid currentcolor;
}



@media only screen and (max-width: 992px) {
  .container_logo {
    flex:0 0 50%;
  }

  ul {
    flex:0 0 30%;
  }
} 

@media only screen and (max-width: 768px) {
  
  body {
    margin: 0;
    font-size: 15px; 
  }

  header {
    margin: 0; 
    display: flex; 
    flex-flow:row wrap;
    align-items:center;
    justify-content: center;
    border: 1px solid red;
  }

  .container_logo {
    margin:0;
    background-position: center;
    flex:0 0 100%;
    border: 1px solid grey;
  }

  header ul{
    flex:0 0 100%;
    display: flex; 
    border: 1px solid grey;
  }
  
  .menu_item{
    text-align: center;
    color: grey;
    border-bottom: 3px solid currentcolor;
    flex:0 0 50%;
    border: 1px solid grey;
    padding:30px 20px 0 20px;
    line-height: 40px;
  }
  
  .menu_item:hover {
    border-top: 0;
    border-bottom: 3px solid hsl(220, 90%, 56%);;
  }

}









/************************Section barre de recherche****************/

.section-recherche {
  height: 100px;
  margin:30px 30px 0 50px;
  /*border: 1px solid grey;*/
}

.section-recherche h3 {
  color: var(--title-color);
  font-size: 19px;
}

.section-recherche p {
  color:var(--text-info-color);
  font-weight: 500;
}

.barre-rech {
  position: absolute;
  width: 370px;
  height: 45px;
  margin-top: 10px;
  border-radius: 12px;
  /*background-color:yellow;*/
}

.icon-map {
  position: relative;
  z-index:2;
  height: 45px;
  width: 12%;
  float: left;
  text-align:center;
  line-height: 45px;
  vertical-align: middle;
  background-color: rgb(248, 249, 250);
  border-radius: 12px 0 0 12px;
  font-size: 18px;
}

.city-rech {
  position: relative;
  height: 45px;
  width: 56%;
  background-color: #fff ;
  border: 2px solid rgba(240, 240, 240, 0.5);
}

input::placeholder {
  color: var(--title-color);
  font-weight: bold;
  padding-left: 10px;
  font-size: 15px;
}

.button-text {
  position: relative;
  height: 45px;
  width: 32%; 
  float:right;
  color:white;
  font-weight: bold;
  background-color:hsl(220, 90%, 56%);
  border: 1px solid hsl(220, 90%, 56%);
  vertical-align: middle;
  line-height: 45px;
  text-align: center;
  border-radius: 0 12px 12px 0;
  font-size: 15px;
}

.button-icone {
  display:none;
}

@media only screen and (max-width: 768px) {
  .section-recherche {
    height: 200px;
    margin:60px 20px 0 20px;
    border: 1px solid grey;
  }
  .section-recherche h3 {
    color: var(--title-color);
    font-size: 22px;
  }

  .section-recherche p {
    font-size: 16px;
    margin:5px 0;
  }

  .barre-rech {
    position: absolute;
    width: 100%;
    height: 55px;
    margin: 35px 0 10px 0;
    border-radius: 12px;
    /*background-color:yellow;*/
  }
  .icon-map {
    position: relative;
    float:left;
    height: 50px;
    width: 10%;
    line-height: 50px;
  }
  .city-rech {
    position: relative;
    height: 50px;
    width: 50%;
  }

  input::placeholder {
    padding-left: 15px;
    font-size: 17px;
  }

  .button-icone{
    position: relative;
    height: 50px;
    width: 12%; 
    float:right;
    color:white;
    font-weight: bold;
    background-color:hsl(220, 90%, 56%);
    border: 1px solid hsl(220, 90%, 56%);
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    border-radius: 12px 12px;
    font-size: 15px;
  }
  
  .button-text {
    display:none;
  }

}







/********************* Section filtres ************/

.section-filtre {
  margin: 0 25px 20px 50px; 
  
 /*border: 1px solid grey;*/
}

.filtres {
  margin: 15px 0;
}


.section-filtre ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /*border: 1px solid grey;*/
}

.section-filtre li {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-weight:bold;
  margin: 15px 25px 0 0; 
  align-self: center;
  font-size: 15px;
  color: var(--title-color);
  /*border: 1px solid grey;*/
}

.filtres-title {
  flex-grow: 1; 
  
}

.icone-filtre-backg{
  margin-right: -35px;
  background-color:hsl(218, 100%, 93%);
  color:hsl(220, 90%, 56%);
  z-index:1;
  border-radius: 50%;
  align-self:center;
  width: 45px;
  height: 45px; 
  text-align:center;
  line-height: 45px;
  font-size: 18px;
}

.filtre-item {
  background-color: #fff;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 25px;
  padding: 8px 20px 8px 45px;
  white-space: nowrap;
  align-self:center;
  height: 45px;
}



.info-nb {
  margin: 30px 30px 30px 40px; 
  padding-left: 10px; 
  color: var(--text-info-color);
  /*  background-color: lightcoral; */
}

.icone-info {
  background-color: #fff;
  border: 1px solid rgb(220, 220, 220);
  color:hsl(220, 90%, 56%);
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  text-align:center;
  line-height: 20px;
  font-size: 10px;
}
  

@media only screen and (max-width: 768px) {
  .section-filtre {
  margin: 20px; 
   border: 1px solid grey;
  }

  .section-filtre ul {
    
    width: 100%;
    gap: 15px 10px;
    border: 1px solid grey;
  }

  .section-filtre li {
    margin: 0; 
    border: 1px solid grey;
  
  }
  .filtre-item {
    align-self:flex-start;
  }

  .filtres-title {
    padding-right: 150px;
  }
}



















/****************************main cards container**********************************/
.main{
  display:flex;
  flex-flow: row nowrap;
  gap:3%;
  /*border: 1px solid grey;*/
  margin:10px 40px;
}

.container-heb, .container-pop{
  display:flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  /*border: 1px solid grey;*/
}

.container-heb {
  width:65%;
}
.container-pop {
  width:32%;
}

.container-heb-title, .container-pop-title {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
 /* background-color: rgba(250, 250, 250, 0.5);*/
  border-radius: 10px 10px 0 0;
  background-color: var(--main-bg-color);
  padding: 20px 30px 10px 30px;
  font-size: 16px;
}

.container-pop-title i{
  line-height: 1.8;
  font-size: 20px;
}

.container-heb-body, .container-pop-body{
  display:flex;
  flex-flow: row wrap;
  background-color: var(--main-bg-color);
  margin: 0 15px;
  /*border: 1px solid grey;*/
}

.container-heb-plus {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  background-color: var(--main-bg-color);
  padding: 15px 0 30px 30px;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .main{
    display:flex;
    flex-flow: row wrap;
    margin:0;
    border: 1px solid red;
  }
  .container-heb {
    width:100%;
    margin:0;
    order:1;
    border: 1px solid grey;
  }
  .container-heb, .container-heb-title, .container-heb-body, .container-heb-plus  {
    background-color: #fff;
  }

 .container-heb-plus  {
    background-color: #fff;
    font-size: 20px;
    padding: 0 0 30px 30px;
    border: 1px solid grey;
  }

  .container-pop {
    width:100%;
    margin:0;
    order:0;
  }
  .container-pop, .container-pop-title, .container-pop-body  {
    border-radius: 0;
  }
  .container-pop-title, .container-heb-title {
    padding: 40px 20px 10px 20px;
    font-size: 20px;
  }
  .container-pop-title i{
    line-height: 1.8;
    font-size: 22px;
  }
  .container-heb-body, .container-pop-body{
    margin: 0 0 30px 0;
    
  }

}

/************ Card Hebergements******** */
.card-heb {
  position: relative;
  width: 215px;
  height: 172px;
  border:4px solid white;
  margin:15px;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px; 
}

.card-heb:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-heb img {
  position: absolute;
  background-color: yellow;
  border-radius: 12px 12px 0 0;
  top: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;  /*test cover, contain fit and scale-down*/
}

.card-heb .card-desc {
  position: absolute;
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 3% 5% 2% 5% ;
  top:60%;
  width: 100%;
  height: 40%;
  font-size: 12px; 
  line-height: 1.5;
}

.card-desc-title  {
  font-size: 14px; 
}
.card-desc-title, .card-desc span{
  font-weight: bold;
}
.star--blue  {
  font-size: 10px; 
  color:hsl(220, 90%, 56%);
}
.star--grey  {
  font-size: 10px; 
  color:rgb(220, 220, 220);
}

/********* Card populaires ******** */
.card-pop {
  position: relative;
  width: 300px;
  height: 120px;
  border:4px solid white;
  margin:15px;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
}

.card-pop:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-pop img {
  position: absolute;
  background-color: yellow;
  border-radius: 12px 0 0 12px;
  top: 0;
  width: 40%;
  height: 100%;
  object-fit: cover;  /*test cover, contain fit and scale-down*/
}

.card-pop .card-desc {
  position: absolute;
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding: 3% 5% 2% 5% ;
  left:40%;
  width: 60%;
  height: 100%;
  font-size: 12px; 
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
  .card-pop {
    width: 100%;
    height: 150px;
    margin:6px 20px 6px 20px ;
    border:5px solid white;
  }

  .card-heb {
    width: 100%;
    height: 200px;
    margin:6px 20px 6px 20px ;
    border:5px solid white;
  }

  .card-pop .card-desc {
    font-size: 14px; 
    line-height: 1.2;
  }

  .card-heb .card-desc {
    font-size: 16px; 
  }

  .card-desc-title  {
    font-size: 16px; 
  }
  .card-pop .card-desc div {
    line-height: 5;
  }

  .card-heb .card-desc {
    font-size: 14px; 
    line-height: 1.3;
  }

  .star--blue , .star--grey {
    font-size: 12px; 
  }
  
}






/****************** Card Activités ****************/
.card-act {
  position: relative;
  width: 260px;
  height: 390px;
  border-radius: 15px;
  margin:20px 15px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  /*border: 1px solid grey;*/
  overflow: hidden;
}

.card-act:nth-child(2) {
  height: 207px;
}
.card-act:nth-child(3) {
  height: 143px;
}
.card-act:nth-child(5) {
  height: 170px;
}
.card-act:nth-child(6) {
  height: 180px;
}

.card-act:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-act img {
  position: absolute;
  background-color: yellow;
  border-radius: 15px 15px 0 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /*test cover, contain fit and scale-down*/
  background-size: 300px 100px;
}

.card-act .card-desc {
  position: absolute;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 15px 15px 25px 15px;
  bottom:0%;
  width: 100%;
  height: 48px;
  font-size: 14px; 
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .card-act {
    width: 100%;
    height: 205px;
    border-radius: 20px;
    margin: 12px 15px;
  }
  .card-act img {
    position: absolute;
    background-color: yellow;
    border-radius: 18px 18px 0 0;
    top: 0;
    width: 100%;
    height: 72%;
    object-fit: cover;  /*test cover, contain fit and scale-down*/
  }
  .card-act .card-desc {
  
    border-radius: 0 0 20px 20px;
    padding: 20px;
    top:72%;
    width: 100%;
    height: 28%;
    font-size: 17px; 
    line-height: 1.5;
  }

  .card-act:nth-child(2),.card-act:nth-child(3), .card-act:nth-child(5), .card-act:nth-child(6) {
    height: 210px;
  }
   
}

/**************************** activity container**********************************/
.container-act {
  display:flex;
  flex-flow: column nowrap;
  margin:15px 15px 15px 30px;
  height: 470px;
  border-radius: 10px;
  /*border: 1px solid grey;*/
}

.container-act-title {
  border-radius: 10px 10px 0 0;
  padding: 20px 30px 0 20px;
  font-size: 16px;
  /*border: 1px solid grey;*/
}

.container-act-body{
  display:flex;
  flex-flow: column wrap;
  height: 100%;
  /*border: 1px solid grey;*/
}

@media only screen and (max-width: 768px) {
  .container-act{
    display:flex;
    flex-flow: row wrap;
    height: auto;
    margin:0;
    border: 1px solid grey;
  }  
  .container-act-title {
    padding: 40px 20px 10px 20px;
    font-size: 20px;
    /*border: 1px solid grey;*/
  }

  .container-act-body{
    display:flex;
    flex-flow: row wrap;
    /*border: 1px solid grey;*/
    border: 1px solid grey;
    width:100%;
  }
}








/**************************** Footer**********************************/
footer{
  width: 100%;
  display: flex; 
  flex-flow:row wrap; 
  gap: 20px 150px;
  background-color:var(--main-bg-color);
  margin: 20px 0;
  padding: 40px 0;
  height: 180px;
  /*border: 1px solid grey;*/
}

footer div{
  margin: 0 50px;
}

.footer_item,.footer_item a {
  list-style-type: none;
  text-decoration: none;
  color: var(--text-info-color);
  padding-top: 10px;

}

@media only screen and (max-width: 768px) {
  footer{ 
    height: 540px;
    flex-flow:column wrap; 
    align-items: flex-start;
    padding-top: 30px;
    /*border: 1px solid grey;*/
  } 
  footer div{
    color:black;
    margin: 20px 20px 0 20px;
  }

  .footer_item,.footer_item a {
    color:black;
    font-size: 17px;
    padding-top: 12px;
  }
}