@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* { margin:0; padding:0; box-sizing:border-box; }

/********* Body ******** */

body {
    background-color: rgba(250, 250, 250, 0.5);
    background-color: white;
    color:rgb(60, 60, 60);
    font-family: 'Raleway', sans-serif;
    font-size: 14px; 
    line-height: 1.8;
    margin: 0 10px 0 30px; 
}

/* ********Header : logo et menu ******** */
header {
  display: flex; 
  flex-flow:row wrap; 
  /*background-color: yellow;*/
  margin:0 0 0 50px;
  height:60px;
  padding-left: 10px;
}

.container_logo {
  background-image: url(../images/logo/Booki.png);
  background-size:contain;
  background-repeat: no-repeat;
  /*border: 1px solid black;*/
  height:40px;
  align-self: center;
  flex:0 0 76%;
}

.container_logo img {
  display: none;
}

header ul{
  display: flex;
  flex:0 0 24%;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  /*background-color: greenyellow;*/
}

.menu_item a {
  list-style-type: none;
  text-decoration: none;
  color: grey;
  /*background-color: rgb(24, 225, 240);*/
}

.menu_item {
  list-style-type: none;
  width:50%;
  flex-flow: row wrap;
  padding:50px 20px 0 20px;
  background-color: white;
  text-align: center;
  color: grey;
  /*border: 1px solid black;*/
}

.menu_item:hover {
  list-style-type: none;
  color: hsl(220, 90%, 56%);
  text-decoration: none;
  border-top: 3px solid currentcolor;
}

.menu_item a:hover {
  color: hsl(220, 90%, 56%);
}

@media only screen and (max-width: 992px) {
  .container_logo {
    flex:0 0 50%;
  }

  ul {
    flex:0 0 30%;
  }
} 

@media only screen and (max-width: 768px) {
  
  header {
    height: 200px;
    display: flex; 
    flex-flow:row wrap;
    align-items:center;
    justify-content: center;
  }

  .container_logo {
    margin:auto;
    background-position: center;
    flex:0 0 100%;
  }

  ul{
    flex:0 0 100%;
    display: flex; 
  }
  
  .menu_item{
    text-align: center;
    color: grey;
    border-bottom: 3px solid currentcolor;
    flex:0 0 50%;
  }
  
  .menu_item:hover {
    border-top: 0;
    border-bottom: 3px solid hsl(220, 90%, 56%);;
  }

}









/************************Section barre de recherche****************/

.section-recherche {
  height: 100px;
  margin:0 30px;
  padding-left: 10px;
  /*background-color: greenyellow;*/
}

.section-recherche h3 {
  color: rgb(70, 70, 70);
  font-size: 19px;
}

.section-recherche p {
  color: rgb(130, 130, 130);
}

.barre-rech {
  position: absolute;
  width: 370px;
  height: 45px;
  margin: 10px 0;
  border-radius: 12px;
  background-color:yellow;
}

.icon-map {
  position: relative;
  z-index:2;
  height: 45px;
  width: 12%;
  float: left;
  text-align:center;
  line-height: 45px;
  vertical-align: middle;
  /*padding: 12px; */
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 12px 0 0 12px;
  font-size: 18px;
}

.city-rech {
  position: relative;
  height: 45px;
  width: 56%;
   /*padding: 12px;*/
  background-color: #fff ;
  border: 1px solid rgba(250, 250, 250, 0.5);
}

input::placeholder {
  color: rgb(70, 70, 70);
  font-weight: bold;
  padding-left: 10px;
  font-size: 15px;
}

.button-rech {
  position: relative;
  height: 45px;
  width: 32%; 
  float:right;
   /*padding: 12px; float:right;*/
  color:white;
  font-weight: bold;
  background-color:hsl(220, 90%, 56%);
  border: 1px solid hsl(220, 90%, 56%);
  vertical-align: middle;
  line-height: 45px;
  text-align: center;
  border-radius: 0 12px 12px 0;
  font-size: 15px;
}









/********************* Section filtres ************/

.section-filtre {
  margin: 20px 25px 30px 30px; 
  padding-left: 20px;
  /*background-color: greenyellow;*/
}

.section-filtre ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /*background-color: rgb(24, 185, 185);*/
}

.section-filtre li {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-weight:bold;
  margin: 0 25px 0 0; 
  align-self: center;
  font-size: 15px;
  color:rgb(70, 70, 70);
  /*
  background-color: salmon;
  line-height: 40px;test*/
}

.icone-filtre-backg{
  /*margin: 30px 0;
  display: block;
   font-size: 14px;
  align-self:center;
  border: 1px solid rgba(14, 8, 8, 0.5)
   
  */
  margin-right: -35px;
  background-color:hsl(218, 100%, 93%);
  color:hsl(220, 90%, 56%);
  z-index:1;
  border-radius: 50%;
  align-self:center;
  width: 45px;
  height: 45px; 
  text-align:center;
  line-height: 45px;
  font-size: 18px;
}

.section-filtre p {
  background-color: #fff;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 25px;
  padding: 8px 20px 8px 45px;
  white-space: nowrap;
  align-self:center;
  height: 45px;
  
}

.info-nb {
  margin: 10px 30px 30px 30px; 
  padding-left: 10px; 
  color: rgb(130, 130, 130);
  /*  background-color: lightcoral; */
}

.icone-info {
  background-color: #fff;
  border: 1px solid rgb(220, 220, 220);
  color:hsl(220, 90%, 56%);
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  text-align:center;
  line-height: 20px;
  font-size: 10px;
}
  



/********* Card Hebergements******** */
.card-heb {
  position: relative;
  width: 180px;
  height: 144px;
  border:3px solid white;
  margin:10px 30px; /* a changer en pourcentage */
   /* padding-left: 10px; a changer en pourcentage */
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; 
}

.card-heb:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-heb img {
  position: absolute;
  background-color: yellow;
  border-radius: 10px 10px 0 0;
  top: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;  /*test cover, contain fit and scale-down*/
}

.card-heb .card-desc {
  position: absolute;
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 3% 5% 2% 5% ;
  top:60%;
  width: 100%;
  height: 40%;
  font-size: 10px; 
  line-height: 1.5;
  font-weight: bold;
}

/********* Card populaires
480 390
675 280
140% 72%
 252   103
******** */
.card-pop {
  position: relative;
  width: 250px;
  height: 100px;
  border:3px solid white;
  margin:10px 30px; /* a changer en pourcentage */
   /* padding-left: 10px; a changer en pourcentage */
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.card-pop:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-pop img {
  position: absolute;
  background-color: yellow;
  border-radius: 10px 0 0 10px;
  top: 0;
  width: 40%;
  height: 100%;
  object-fit: cover;  /*test cover, contain fit and scale-down*/
}

.card-pop .card-desc {
  position: absolute;
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding: 3% 5% 2% 5% ;
  left:40%;
  width: 60%;
  height: 100%;
  font-size: 10px; 
  line-height: 1.5;
  font-weight: bold;
}








/****************************main cards container**********************************/
.main{
  display:flex;
  flex-flow: row nowrap;
  gap:3%;
  background-color: yellow;
  margin:10px 30px; /* a changer en pourcentage */
}

.container-heb, .container-pop{
  display:flex;
  flex-flow: column nowrap;
 /* background-color: rgba(250, 250, 250, 0.5);*/
  border-radius: 10px;
  background-color: rgb(233, 112, 213);
}

/* gap 3%, heb 66% pop 31% */
.container-heb {
  width:66%;
}
.container-pop {
  width:31%;
}

.container-heb-title, .container-pop-title{
  display:flex;
  flex-flow: row wrap;
 /* background-color: rgba(250, 250, 250, 0.5);*/
  border-radius: 10px 10px 0 0;
  background-color: rgb(112, 179, 233);
}

.container-heb-body, .container-pop-body{
  display:flex;
  flex-flow: row wrap;
 /* background-color: rgba(250, 250, 250, 0.5);*/
  background-color: rgb(112, 179, 233);
}







/****************** Card Activités ****************/
.card-act {
  position: relative;
  width: 180px;
  height: 144px;
  /* width: 100%;
  height: 48%;*/
  border:3px solid white;
  margin:10px 30px; /* a changer en pourcentage */
   /* padding-left: 10px; a changer en pourcentage */
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; 
}

.card-act:nth-child(3n +1) {
  height: 288px;
}

.card-act:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-act img {
  position: absolute;
  background-color: yellow;
  border-radius: 10px 10px 0 0;
  top: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;  /*test cover, contain fit and scale-down*/
}

.card-act .card-desc {
  position: absolute;
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 3% 5% 2% 5% ;
  top:60%;
  width: 100%;
  height: 40%;
  font-size: 10px; 
  line-height: 1.5;
  font-weight: bold;
}

/**************************** activity container**********************************/
.container-act {
  display:flex;
  flex-flow: column nowrap;
  margin:10px 30px;
 /* background-color: rgba(250, 250, 250, 0.5);*/
  border-radius: 10px;
  background-color: rgb(233, 112, 213);
  width:100%;
  height: 330px;
  
}

.container-act-title {
  border-radius: 10px 10px 0 0;
  background-color: rgb(112, 179, 233);
}

.container-act-body{
  display:flex;
  flex-flow: column wrap;
  height: 100%;
 /* background-color: rgba(250, 250, 250, 0.5);*/
  background-color: rgb(112, 179, 233);
}










/**************************** Footer**********************************/
footer{
  display: flex; 
  flex-flow:row wrap; 
  /*background-color: rgba(250, 250, 250, 0.5);*/
  background-color:lightpink;
  justify-content: center;
  margin: 10px 30px;
}

footer div{
  margin: 0 50px;
}

.footer_item {
  list-style-type: none;
  text-decoration: none;
  color: grey;
}

